# Basic

### Calculate

In [14]:
a =1   #a<-1  1->a
c=a+b/a*(a+b)^a*log(a)+sqrt(4)+exp(1)+floor(1.2)+ceiling(1.3)
c=cos(pi/4)+sin(pi)+tan(pi/3)
print(cat(1, "加", 1, "等于", 2))
#dpqr
pnorm(0)

[1] "Hello, World!"

### List

In [52]:
a = sqrt(c(10, 20, 30, 40, 50,60)^2*2/2)
a= seq(10,60,10)  # seq(10,50, length.out=5)
b=rep(10,5)
print(a[c(1,3)])
print(a[c(-1,-3)])
print(a[1:3])
print(10%in%a)

#排序
print(rev(sort(a)))
print(sd(a)) #mean, sum, var, sd, min, max, range
print(b)

#lambda
print(a[which(a >= 20 & a < 40)])

# Matrix
m1=matrix(a,2,3,byrow=TRUE)
colnames(m1) = c("x", "y", "z")
rownames(m1) = c("a", "b")
print(m1[1,1])

m1 = matrix(c(1, 2), 1, 2)
m2 = matrix(c(3, 4), 2, 1)
m3= m1 %*% m2
apply(m1, 1, sum)

[1] 10 30
[1] 20 40 50 60
[1] 10 20 30
[1] TRUE
[1] 60 50 40 30 20 10
[1] 18.70829
[1] 10 10 10 10 10
[1] 20 30
[1] 10

[1] 3

### table

In [3]:
table = data.frame(
    姓名 = c("张三", "李四"),
    工号 = c("001","002"),
    月薪 = c(1000, 2000)
)
table$部门 <- c("运营","技术","编辑")
result = data.frame(table$姓名,table$月薪)
result <- table[c(2,3),c(1,2)]

result

   姓名 工号
2  李四 002
NA NA   NA

[1] 1

# IO

In [7]:
url="D:/Code/GeneralTool/File/test.txt"
cat("RUNOOB", file=url)
cat("GOOGLE", file=url, append=TRUE)

In [8]:
readLines(url)

Warning message in readLines(url):
"读'D:/Code/GeneralTool/File/test.txt'时最后一行未遂"

[1] "RUNOOBGOOGLE"

ERROR: Error in library(greenbrown): there is no package called 'greenbrown'